@import "../common/sassImports";

.bigbox{
    background-image: url("/assets/homeBackground.jpg");
    background-size: cover;
}

$size: 3;
$strokeColor: #000;
$correction: 0;

.stroked{
    @include text-stroke($size, $strokeColor, $correction);
    color: #FFF;
}

h1{
    font-size: 3em;
    margin: 0;
}

.content1{
    height: 100vh;
}