<div class="bigbox d-flex flex-row justify-content-center">
  <div class="d-flex flex-column py-md-5 justify-content-start justify-content-md-between align-content-center aboutmecontainer">
    <h3>About</h3>
    <div class="d-flex flex-column flex-md-row justify-content-md-between justify-content-center">
      <div class="profile d-flex"><img src="/assets/profilepicture2.jpg" id="profile"/></div>
      <div class="infobox d-flex flex-column justify-content-between">

        <blockquote>
          <span class="quote">Mathematics is the music of reason</span>
          <span class="author">James Joseph Sylvester</span>
        </blockquote>

        <p>I'm a full-stack developer based in McAllen, Texas. I have a deep passion for problem-solving of all kinds; let's find solutions together.</p>

        
      </div>
    </div>
    <div></div>
  </div>

</div> 