/* You can add global styles to this file, and also import other style files */
.bigbox{
    height: 100vh;
}

body{
    margin: 0;
}

p{
    margin: 0;
}

blockquote{
    padding-left: 20px;
    padding-right: 5px;
    position: relative;

    .author::before{
        content: "-"
    }
    .author {
        float: right;
    }
    .quote{
        float: left;
        width: 100%;
    }
}

span.emphasis{
    font-weight: 700;
}